<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head") %>

    <title>Bot Commands - Sqabot by TMS</title>
</head>
<body>
    <%- include("../../partials/header") %>

    <%- include("../../partials/sidebar", {baseUri: baseUri, page: "bot-commands"}) %>

    <div class="main-content">
        <main id="main">

        </main>

        <%- include("../../partials/footer") %>
    </div>
</body>
</html>
