:root {
    --primary-background-color: #161516;
    --secondary-background-color: #26262f;
    --tertiary-background-color: #24242a;

    --primary-text-color: #eae5f3;
    --secondary-text-color: #a9a2b6;
    --tertiary-text-color: #524b5e;

    --shadow: 2px 2px 10px rgba(0,0,0,0.2);
    --heavy-shadow: 2px 2px 10px rgba(0,0,0,0.35);
    --light-shadow: 2px 2px 15px rgba(255,255,255,0.4);

    --primary-sqa-color: #772ce8;
    --secondary-sqa-color: #6c24d7;
    --faded-sqa-color: rgba(201, 182, 230, 0.9);

    --primary-twitch-color: #9147ff;
    --secondary-twitch-color: #8239ef;
    --dark-twitch-color: #552996;

    --primary-discord-color: #5865f2;
    --secondary-discord-color: #4f5ceb;
    --dark-discord-color: #2e379c;

    --green: #368436;
    --red: #c83232;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    color: var(--secondary-text-color);
}

.code {
    display: inline-block;
    margin: .1em;
    padding: .4em;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
}

.code.code-full {
    display: block;
    margin: .4em .1em;
}

#skip-to-content {
    background-color: var(--primary-text-color);
    color: var(--primary-background-color);
    width: 100%;
    font-size: 1.4em;
    position: fixed;
    top: -2em;
    left: 0;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

#skip-to-content:hover,
#skip-to-content:focus {
    top: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-sqa-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5em;
    text-shadow: var(--shadow);
}

header a#menu-toggle {
    background-color: transparent;
    position: relative;
    width: 3.5em;
    height: 3.5em;
    transition: 0.25s background-color;
}

header a#menu-toggle i {
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header a#menu-toggle:hover,
header a#menu-toggle:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
}

header a {
    color: var(--primary-text-color);
    text-decoration: none;
}

header h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    flex-grow: 1;
    margin: 0 .4em;
}

.channels {
    background-color: var(--secondary-background-color);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1) inset;
    margin-right: 1em;
    border-radius: 2em;
}

#select-channel {
    background-color: var(--secondary-background-color);
    padding: .6em 1em;
    position: fixed;
    top: 4.2em;
    right: 1em;
    width: calc(100% - 2em);
    max-width: 20em;
    transition: .2s;
    transform: scale(.9);
    opacity: 0;
    border-radius: 5px;
    z-index: 999;
}

#select-channel.open {
    top: 4.5em;
    transform: scale(1);
    opacity: 1;
}

.channel {
    color: var(--primary-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .4em;
    transition: .25s;
}

#select-channel h2 {
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: .8em;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 .4em 0;
    padding: 0;
}

#select-channel .channel {
    margin: .2em 0;
    border-radius: 5px;
}

#select-channel .channel.active {
    background-color: rgba(255,255,255,0.02);
}

#select-channel .channel:hover,
#select-channel .channel:focus {
    background-color: rgba(255,255,255,0.05);
}

.channel img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.25em;
    margin-right: .8em;
}

.channel .info {
    font-size: .8em;
    flex-grow: 1;
    margin-right: 1em;
}

.channel h3 {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0;
}

.partner {
    color: var(--primary-twitch-color);
    text-shadow: var(--heavy-shadow);
}

footer {
    font-size: .8em;
    opacity: .4;
    text-align: center;
    margin: 1em;
}

section.box {
    background-color: var(--tertiary-background-color);
    margin: 1em;
    padding: 1em;
}

section.box h2 {
    background-color: var(--secondary-background-color);
    margin: -1em -1em 1em -1em;
    padding: 1em;
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
}

section.box.outline {
    border-top: 2px solid transparent;
}

section.box.outline-green {
    border-color: var(--green);
}

section.box.outline-red {
    border-color: var(--red);
}
